body {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}
.xlarge {
    font-size: 32px;
    margin-block-start: 12px;
    margin-block-end: 12px;
}
.large {
    font-size: 24px;
    margin-block-start: 8px;
    margin-block-end: 8px;
}
.ex {
    font-size: 16px;
    margin-block-start: 4px;
    margin-block-end: 4px;
}
.genericB {
    background-color: #c0c0c0;
    border-color: #808080;
    font:400 14px 'Roboto Mono';
    margin:5px;
}
.genericB:disabled {
    color:rgba(0, 0, 0, 0.25);
}
.prestigeB {
    background-color: #c0ffc0;
    border-color: #00c000;
    border-width: 3px;
    font:400 14px 'Roboto Mono';
    margin:5px;
}.prestigeB:disabled {
    color:rgba(0, 0, 0, 0.25);
}
.danger {
    background-color: #c08080;
    border-color: #c00000;
    font:400 14px 'Roboto Mono';
    margin:5px;
}
footer {
    bottom: 0%;
}